<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Professor Face-off</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Vote</a></li>
                <li><a href="/ranking">Rankings</a></li>
            </ul>
        </nav>
    </header>

    <h1>Professor Face-off</h1>

    <div class="container">
        <% faceOffProfessors.forEach(professor => { %>
        <div class="professor-card">
            <div class="rating">Elo: <%= professor.elo %></div>
            <img src="/<%= professor.photo_path %>" class="professor-image" alt="Professor Image">
            <form action="/vote/<%= professor.id %>/<%= faceOffProfessors.find(p => p.id !== professor.id).id %>" method="post">
                <button type="submit">Vote for Professor</button>
            </form>
        </div>
        <% }) %>
    </div>
</body>
</html>
